<link rel="stylesheet" href="modules/admin/css/batch/create.css">
<form name="createBatchForm" ng-submit="createBatch()" class="form-horizontal" novalidate role="form">
    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
            <label for="date_receipt">* Date receipt</label>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name='date_receipt' id="dateReceipt" ng-model='batch.dateReceipt' class='form-control' placeholder='yyyy-mm-dd'>
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
            <label for="shipper_id">* Shipper</label>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <!-- <input name='shipper_id' ng-model='batch.shipperId' class='form-control' placeholder='Shipper'> -->
                <!-- <select chosen id="lstShipper" class="form-control" ng-mode'batch.shipperId'>
                    <option  value="">Select shipper</option>
                    <option data-ng-repeat="shipper in shippers" value="{{shipper.id}}">{{shipper.name}}</option>
                </select> -->
                <select chosen class="form-control" ng-model="batch.shipperId"
                    ng-options="shipper.id as shipper.name for shipper in shippers">
                </select>
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
            <label for="total_product">Total product</label>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name='total_product' ng-model='batch.totalProduct' class='form-control' placeholder='Total product'>
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
            <label for="total_price">Total Price</label>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <input name='total_price' ng-model='batch.totalPrice' class='form-control' placeholder='Total Price'>
        </div>
    </div>
    <div class="col-md-12 row ctrl-area">
        <button type="submit" class="btn btn-success">{{buttonText}}</button>
        <a class='btn btn-warning cancel_btn' href="#">Cancel</a>
    </div>
</form>

